<a href="https://colab.research.google.com/github/Sahilkushwaha7777/pythonpractice/blob/main/Practicequestion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1:

Imagine you are working on a customer management system, and you have first name and last name of a customer storedas separate variable, you are developing a customer management system for a retail store, In your database, you have the first name and last name of a customer stored as seperate variable: first_name="john" and last_name="Doe". how would you concatenate these strings to form the full name "john Doe" for the customer's profile

In [ ]:
first_name= "john"
last_name= "Doe"

full_name= first_name+ " "+ last_name
print(full_name)

john Doe

Question 2:

you have a variable with X with the value 5. How would you reassign X to have the value 10?

In [ ]:
x=5
print("before reassign =", x)

x=10
print("after reassign =", x)

before reassign = 5
after reassign = 10

Question 3:

You have a data containing two record: "quantity" and "price per unit". how would you use arithmetic operator to calculate the total cost for each item , also calculate the total cost? product_1, quantity-5, price_per_unit-rs250, product_2, quantity - 25, price per unit -rs 656, product_3, quantity - 34, price_per_unit - rs274

In [ ]:
#product_1
quantity = 5
price_per_unit = 250
product_1 = quantity * price_per_unit
print("total cost for product 1st :",product_1 ,"rs")

#product_2
quantity = 25
price_per_unit = 656
product_2 = quantity * price_per_unit
print("total cost for product 1st :",product_2 ,"rs")

#product_3
quantity = 34
price_per_unit = 274
product_3 = quantity * price_per_unit
print("total cost for product 1st :",product_3 ,"rs")


print("total cost custumer pay :", product_1 + product_2 + product_3 ,"rs")

total cost for product 1st : 1250 rs
total cost for product 1st : 16400 rs
total cost for product 1st : 9316 rs
total cost custumer pay : 26966 rs

Queation 4:

In a finance based organisation, the task is to calculate the simple interest given the principal amount, interest rate, and time priod. the interst rate is 8%, the principal amount is Rs 15,00,000, and the time period is 3 years. Calculate the simple interest. also, the threshold amount is Rs 1,20,000. please check if the calculated interest is greater  or less than the threshold amount.

In [ ]:
interest_rate = 8
principal_amount = 1500000
time_period =3

simple_interest = (interest_rate * principal_amount * time_period)/100

print("simple interest: ", simple_interest)

threshold_amount = 120000
comparison = threshold_amount < simple_interest
print("threshold amount less is", comparison)

simple interest:  360000.0
threshold amount less is True

Question 5:

Write a python program to calculate the area of circle with a radius of 12cm

In [ ]:
pi = 3.14
rad = 12
print("area of circle : ", pi * rad * rad)

area of circle :  452.15999999999997

Question 6:

In a game application , the player score is stored as afloating point number. however, for leaderboard display, you need to convert the score to an integer, How would you use the int() function to convert the player 's score from floating-point to integer format? pls solve this with code, player score = 1234.455

In [ ]:
player_score = 1234.455
print("the player score is", int(player_score))

the player score is 1234

Question 7:

In a customer relationship management (CRM) system for a retail company, you have a database containing customer record. How would you  use the len() function to find the total number of customers in the database, allowing the company to track its customer base?


customer_database = [
    (1, 'john', 'john@example.com'),
    (2, 'ram', 'ram@example.com'),
    (3, 'shyam', 'shyam@example.com')
                ]

In [ ]:
customer_database = [
    (1, 'john', 'john@example.com'),
    (2, 'ram', 'ram@example.com'),
    (3, 'shyam', 'shyam@example.com')
     ]
print("total number of customer is",len(customer_database))

total number of customer is 3

Question 8:

In a finance based organisation, the task is to calculate the simple interest given the principal amount, interest rate, and time priod. the interst rate is 9.43567%, the principal amount is Rs 250,000, and the time period is 3 years. Calculate the simple interest. the final value should be an integer.

In [ ]:
p_amount = 250000
i_rate = 9.43567
t_period = 3

simple_interest = (p_amount * i_rate * t_period)/100
print("the simple interest is", int(simple_interest))

the simple interest is 70767

Question 9:

As part of your role in a data-driven project, you need to take input from the user for their age, weight, and height. However, there's an issue: the user has entered their age as a negative number. You need to correct the age of the user, and after correcting the age, calculate their Basal Metabolic Rate (BMR) using the Harris-Benedict equation for men. Ensure that the final answer of BMR is an integer.

Basal Metabolic Rate (BMR):

Formula (Harris-Benedict equation for men):

BMR = 88.362 + (13.397 * weight in kg) + (4.799* height in cm) - (5.677 * age in years)

In [11]:
age=int(input("enter your age in year : "))
weight= int(input("enter your weight in kg : "))
height= int(input("enter your height in cm : "))
correct_age=abs(age)
BMR = 88.362 + (13.397 * weight) + (4.799 * height) - (5.677 * age )
print("BMR",int(BMR))

enter your age in year : -20
enter your weight in kg : 54
enter your height in cm : 179
BMR 1784

Question 10:

write a python code for hostel students, ask them to mention their course name and age. for 5 students and their avg age.

In [13]:
name1 = input("enter your name : ")
course1 = input("enter course name : ")
age1 = int(input("enter your age in year : "))

name2 = input("enter your name : ")
course2 = input("enter course name : ")
age2 = int(input("enter your age in year :"))

name3 = input("enter your name : ")
course3 = input("enter course name : ")
age3 = int(input("enter your age in year : "))
name4 = input("enter your name : ")
course4 = input("enter course name : ")
age4 = int(input("enter your age in year : "))

name5 = input("enter your name : ")
course5 = input("enter course name : ")
age5 = int(input("enter your age in year : "))

avg_age = (age1 + age2 + age3 + age4 +age5)/5
print("average age of 5 studen: ", avg_age)

enter your name : sahil
enter course name : sahil
enter your age in year : 23
enter your name : dshai
enter course name : sdfgd
enter your age in year :34
enter your name : wddfs
enter course name : sfd
enter your age in year : 34
enter your name : fdvds
enter course name : fdvvds
enter your age in year : 11
enter your name : dscds
enter course name : sd c
enter your age in year : 30
average age of 5 studen:  26.4