<a href="https://colab.research.google.com/github/Sahilkushwaha7777/pythonpractice/blob/main/Practicequestion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1:

Imagine you are working on a customer management system, and you have first name and last name of a customer storedas separate variable, you are developing a customer management system for a retail store, In your database, you have the first name and last name of a customer stored as seperate variable: first_name="john" and last_name="Doe". how would you concatenate these strings to form the full name "john Doe" for the customer's profile

In [ ]:
first_name= "john"
last_name= "Doe"

full_name= first_name+ " "+ last_name
print(full_name)

john Doe

Question 2:

you have a variable with X with the value 5. How would you reassign X to have the value 10?

In [1]:
x=5
print("before reassign =", x)

x=10
print("after reassign =", x)

before reassign = 5
after reassign = 10

Question 3:

You have a data containing two record: "quantity" and "price per unit". how would you use arithmetic operator to calculate the total cost for each item , also calculate the total cost? product_1, quantity-5, price_per_unit-rs250, product_2, quantity - 25, price per unit -rs 656, product_3, quantity - 34, price_per_unit - rs274

In [4]:
#product_1
quantity = 5
price_per_unit = 250
product_1 = quantity * price_per_unit
print("total cost for product 1st :",product_1 ,"rs")

#product_2
quantity = 25
price_per_unit = 656
product_2 = quantity * price_per_unit
print("total cost for product 1st :",product_2 ,"rs")

#product_3
quantity = 34
price_per_unit = 274
product_3 = quantity * price_per_unit
print("total cost for product 1st :",product_3 ,"rs")


print("total cost custumer pay :", product_1 + product_2 + product_3 ,"rs")

total cost for product 1st : 1250 rs
total cost for product 1st : 16400 rs
total cost for product 1st : 9316 rs
total cost custumer pay : 26966 rs

Queation 4:

In a finance based organisation, the task is to calculate the simple interest given the principal amount, interest rate, and time priod. the interst rate is 8%, the principal amount is Rs 15,00,000, and the time period is 3 years. Calculate the simple interest. also, the threshold amount is Rs 1,20,000. please check if the calculated interest is greater  or less than the threshold amount.

In [8]:
interest_rate = 8
principal_amount = 1500000
time_period =3

simple_interest = (interest_rate * principal_amount * time_period)/100

print("simple interest: ", simple_interest)

threshold_amount = 120000
comparison = threshold_amount < simple_interest
print("threshold amount less is", comparison)

simple interest:  360000.0
threshold amount less is True

Question 5:

Write a python program to calculate the area of circle with a radius of 12cm

In [9]:
pi = 3.14
rad = 12
print("area of circle : ", pi * rad * rad)

area of circle :  452.15999999999997